/* @group PreImport */
@import 'variables';
@import 'typography';
@import 'icons';
/* @end */

/* @group Resets */
body {
  padding: 0;
}
.block {
  padding: 0;
  background-color: initial;
  border: 0;
  border-radius:0;
  box-shadow: none;
}
/* @end */

/* @group Generic */
input[type='submit'] {
  border: 0;
  background: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
  display: block;
  color: #0293D2;
}
input[type='submit']:hover {
  background: none;
  color: #0293D2;
  text-decoration: underline;
}
* {
  box-sizing: border-box;

  &:focus {
    outline: 0;
  }
}
/* @end */

/* @group Custom */
#page {
  margin: auto;
  padding: 0;
  margin-top: 20px;

  #page_wrapper {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: table;

    > * {
      padding: 15px;
      display: table-cell;
    }

    #region-main {
      padding: 15px 40px;
    }

    #block-region-side-pre,
    #block-region-side-post {
      background: #FAF9F9;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
    }
  }

  &.columns-3 {
    #block-region-side-pre, #block-region-side-post {
      width: 20%;
    }
    #region-main {
      width: 60%;
    }
  }
  &.columns-2 {
    #block-region-side-pre {
      width: 20%;
    }
    #region-main {
      width: 80%;
    }
  }
}
#page-footer {
  border: 0;
}
/* @end */

/* @group PostImport */
@import 'hardmedia';
/* @end */