@import 'variables';
@import 'typography';
@import 'icons';
@import 'hardmedia.scss';

/* @group Resets */
body {
  padding: 0;
}
.block {
  padding: 0;
  background-color: initial;
  border: 0;
  border-radius:0;
  box-shadow: none;
}
/* @end */

/* @group Generic */
input[type='submit'] {
  border: 0;
  background: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
  display: block;
  color: #0293D2;
}
input[type='submit']:hover {
  background: none;
  color: #0293D2;
  text-decoration: underline;
}
/* @end */

/* @group Custom */
#page {
}
#page-content {
  border-top: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  background: #FAF9F9;
}
#block-region-side-post, #region-main, #block-region-side-pre {
  padding-top: 20px;
  background: #FAF9F9;
}
#main_header {
  padding: 25px 10px;
}
#region-main {
  background: white;
  padding: 0 25px;
}
div.generalbox h4{
  margin-top: 30px;
}
#page-footer {
  background: white;
  margin: 0;
  border: 0;
}
#block-region-side-pre {
  border-right: 1px solid #EEE;
  margin-right: 0;
  padding-right: 2.7624309392265194%;
  margin-left: 2.564102564102564%;
}
#block-region-side-post {
  margin-left: 0;
  padding-right: 2%;
}
#region-bs-main-and-pre {
  border-right: 1px solid #EEE;
  border-left: 1px solid #EEE;
  padding-left: 10px;
}
/* @end */