.visible-mobile {
  display: none !important;
}

#mobile_header {
  width: 100%;
  background: #F4F4F4;
  height: 50px;
  color: #69BFF1;

  > div {
    width: 33.33333433333%;
    float: left;
    padding: 10px;
    padding-bottom: 0;
  }

  span {
    padding-top: 4px;
    font-size: 18px;
  }

  button {
    margin: 0;
    border: 0;
    background: transparent;
    color: #6DC0F1;
    font-size: 14pt;
    padding: 5px 10px;
    box-shadow: none;
    text-shadow: none;
  }
}


@media (max-width: 767px) {

  #main_header {
    padding: 0;
    margin: 0;
  }
  #page {
    margin: 0;

    #page_wrapper {
      #region-main {
        padding: 0 20px;
      }
    }
  }
  #primary_wrap {
    width:100%;
    overflow-x: hidden;

    #secondary_wrap {
      width: 300%;
      position: relative;
      overflow-x: hidden;
      margin: 0;
      transition: all 0.5s;
      left: -100%;
    }

    &.pan-left {
      #secondary_wrap {
        left: 0;
      }
    }
    &.pan-right {
      #secondary_wrap {
        left: -200%;
      }
    }

    &.columns-3 {
      #block-region-side-pre,
      #region-main,
      #block-region-side-post {
        width:33.333334333333%;
      }
    }

    &.columns-2 {
      #block-region-side-pre,
      #region-main,
      #block-region-side-post {
        width:50%;
      }

      #secondary_wrap {
        width: 200%;
      }
    }

    &.columns-1 {
      #block-region-side-pre,
      #region-main,
      #block-region-side-post {
        width:100%;
      }

      #secondary_wrap {
        width: 100%;
        left: 0;
      }

      #mobile_middle_title,
      #mobile_header_middle {
        margin: 0;
        width: 100%;
      }
    }
  }
  .visible-mobile {
    display: block !important;
  }
  .hidden-mobile {
    display: none !important;
  }

  div {
    max-width: none !important;
  }

  #logo_wrap {
    width: 50%;
    margin: auto;
    display: none;
  }
  body.pagelayout-frontpage,
  body.pagelayout-login {
    #logo_wrap {
      display: block;
    }
  }
  #logo_wrap img {
    max-width: 100%;
  }

  #mobile_header {
    > div {
      width: 50%;
    }
  }
}

#mobile_middle_title {
  width: 61%;
  text-align: center;
  display: inline-block;
  margin-left: 8.5%;
}

