@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/* line 3, ../sass/typography.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12pt;
  line-height: 1.5em;
}

/* line 9, ../sass/typography.scss */
li {
  margin-bottom: 1.5em;
}

/* line 12, ../sass/typography.scss */
.block .header .title h2, .block h3 {
  color: #2b2b2b;
  font-size: 1.5em;
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  /* line 2, ../sass/hardmedia.scss */
  #block-region-side-post {
    width: 25.076923%;
  }

  /* line 5, ../sass/hardmedia.scss */
  #region-main {
    width: 68.3%;
  }
}
/* @group Resets */
/* line 7, ../sass/ace.scss */
body {
  padding: 0;
}

/* line 10, ../sass/ace.scss */
.block {
  padding: 0;
  background-color: initial;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

/* @end */
/* @group Generic */
/* line 20, ../sass/ace.scss */
input[type='submit'] {
  border: 0;
  background: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
  display: block;
  color: #0293D2;
}

/* line 30, ../sass/ace.scss */
input[type='submit']:hover {
  background: none;
  color: #0293D2;
  text-decoration: underline;
}

/* line 35, ../sass/ace.scss */
*:focus {
  outline: 0;
}

/* @end */
/* @group Custom */
/* line 43, ../sass/ace.scss */
#page-content {
  border-top: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  background: #FAF9F9;
}

/* line 49, ../sass/ace.scss */
#block-region-side-post, #region-main, #block-region-side-pre {
  padding-top: 20px;
  background: #FAF9F9;
}

/* line 53, ../sass/ace.scss */
#main_header {
  padding: 25px 10px;
}

/* line 56, ../sass/ace.scss */
#region-main {
  background: white;
  padding: 0 25px;
}

/* line 60, ../sass/ace.scss */
div.generalbox h4 {
  margin-top: 30px;
}

/* line 63, ../sass/ace.scss */
#page-footer {
  background: white;
  margin: 0;
  border: 0;
}

/* line 68, ../sass/ace.scss */
#block-region-side-pre {
  border-right: 1px solid #EEE;
  margin-right: 0;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 74, ../sass/ace.scss */
#block-region-side-post {
  margin-left: 0;
  padding-right: 15px;
}

/* line 78, ../sass/ace.scss */
#region-bs-main-and-pre {
  border-right: 1px solid #EEE;
  border-left: 1px solid #EEE;
  background: white;
}

/* @end */
