/* @group PreImport */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
/* line 3, ../sass/typography.scss */
body {
  font-family: 'Droid Serif', Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 10pt;
  line-height: 1.5;
}

/* line 11, ../sass/typography.scss */
li {
  margin-bottom: 1.5em;
}

/* line 14, ../sass/typography.scss */
.block .header .title h2, .block h3, h1, h2, h3, h4, h5, h6 {
  color: #2b2b2b;
  font-size: 1.5em;
  margin-top: 20px;
}

/* @end */
/* @group Resets */
/* line 8, ../sass/ace.scss */
body {
  padding: 0;
}

/* line 11, ../sass/ace.scss */
.block {
  padding: 0;
  background-color: initial;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

/* line 18, ../sass/ace.scss */
table {
  border-top: 1px solid #ccc;
}

/* line 21, ../sass/ace.scss */
table.flexible th, .generaltable th, table.flexible td, .generaltable td, th, td {
  border: 1px solid #ccc;
}

/* line 24, ../sass/ace.scss */
.section .activity .mod-indent-outer {
  padding: 0;
}

/* @end */
/* @group Generic */
/* line 31, ../sass/ace.scss */
input[type='submit'],
input#id_submitbutton {
  border: 0;
  background: none;
  background-color: none;
  background-image: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  padding: 0;
  margin: 0;
  display: block;
  color: #0293D2;
}

/* line 45, ../sass/ace.scss */
input[type='submit']:hover,
input#id_submitbutton:hover {
  background: none;
  background-color: none;
  background-image: none;
  text-shadow: none;
  color: #0293D2;
  text-decoration: underline;
}

/* line 53, ../sass/ace.scss */
* {
  box-sizing: border-box;
}

/* line 57, ../sass/ace.scss */
input[type='submit']:focus, input[type='submit']:active, button:focus, button:active {
  outline: 0 !important;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  color: #0293D2 !important;
  text-shadow: none !important;
}

/* @end */
/* @group Layout */
/* line 69, ../sass/ace.scss */
#page {
  margin: auto;
  padding: 0;
  margin-top: 20px;
}
/* line 74, ../sass/ace.scss */
#page #page_wrapper {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: table;
}
/* line 79, ../sass/ace.scss */
#page #page_wrapper > * {
  padding: 0 15px;
  display: table-cell;
}
/* line 84, ../sass/ace.scss */
#page #page_wrapper #region-main {
  padding: 20px 30px;
}
/* line 89, ../sass/ace.scss */
#page #page_wrapper #block-region-side-pre,
#page #page_wrapper #block-region-side-post {
  background: #FAF9F9;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
/* line 97, ../sass/ace.scss */
#page #primary_wrap.columns-3 #block-region-side-pre, #page #primary_wrap.columns-3 #block-region-side-post {
  width: 20%;
}
/* line 100, ../sass/ace.scss */
#page #primary_wrap.columns-3 #region-main {
  width: 60%;
}
/* line 105, ../sass/ace.scss */
#page #primary_wrap.columns-2 #block-region-side-pre {
  width: 20%;
}
/* line 108, ../sass/ace.scss */
#page #primary_wrap.columns-2 #region-main {
  width: 80%;
  border-right: 1px solid #ccc;
}

/* line 114, ../sass/ace.scss */
#page-footer {
  border: 0;
}

/* line 117, ../sass/ace.scss */
div.buttons {
  margin-top: 20px;
}

/* line 120, ../sass/ace.scss */
#logo {
  margin: auto;
  max-width: 220px;
}

/* line 124, ../sass/ace.scss */
#logo_wrap {
  text-align: center;
}

/* line 127, ../sass/ace.scss */
header {
  padding-top: 30px;
  padding-bottom: 10px;
}

/* line 131, ../sass/ace.scss */
#primary_wrap {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

/* @end */
/* Course */
/* line 140, ../sass/ace.scss */
.courses .coursebox:hover, .course_category_tree .courses > .paging.paging-morelink:hover {
  background: #FAF9F9;
}

/* line 143, ../sass/ace.scss */
.coursebox > .info > .coursename a {
  background-image: none;
  padding-left: 0;
}

/* line 147, ../sass/ace.scss */
.coursebox .content .summary, .coursebox .content .coursecat {
  float: none;
  width: auto;
}

/* line 151, ../sass/ace.scss */
.coursebox {
  background: #FAF9F9;
  margin: auto;
}

/* @end */
/* @group Settings */
/* line 158, ../sass/ace.scss */
ul.select2-results li {
  margin: 0;
  border-bottom: 1px solid #ebebeb;
}

/* @end */
/* @group PostImport */
@media (max-width: 1680px) {
  /* line 4, ../sass/hardmedia.scss */
  #page #page_wrapper #block-region-side-pre {
    border-left: 0;
  }
  /* line 7, ../sass/hardmedia.scss */
  #page #page_wrapper #block-region-side-post {
    border-right: 0;
  }
  /* line 10, ../sass/hardmedia.scss */
  #page #page_wrapper #region-main {
    border: 0;
  }
}
/* line 1, ../sass/mobile.scss */
.visible-mobile {
  display: none;
}

/* line 8, ../sass/mobile.scss */
#show_navigation,
#show_sidebar,
#show_content {
  position: absolute;
  top: 0;
}

/* line 13, ../sass/mobile.scss */
#show_content {
  display: none;
}

/* line 16, ../sass/mobile.scss */
#show_sidebar {
  right: 0;
}

/* line 19, ../sass/mobile.scss */
#show_navigation {
  left: 0;
}

@media (max-width: 767px) {
  /* line 26, ../sass/mobile.scss */
  #main_header {
    padding: 0;
    margin: 0;
  }

  /* line 30, ../sass/mobile.scss */
  #page {
    margin: 0;
  }
  /* line 34, ../sass/mobile.scss */
  #page #page_wrapper #region-main {
    padding: 0 20px;
  }

  /* line 39, ../sass/mobile.scss */
  #primary_wrap {
    width: 100%;
    overflow-x: hidden;
  }
  /* line 43, ../sass/mobile.scss */
  #primary_wrap #secondary_wrap {
    width: 300%;
    position: relative;
    overflow-x: hidden;
    margin: 0;
    transition: all 0.5s;
    left: -100%;
  }
  /* line 53, ../sass/mobile.scss */
  #primary_wrap.pan-left #secondary_wrap {
    left: 0;
  }
  /* line 58, ../sass/mobile.scss */
  #primary_wrap.pan-right #secondary_wrap {
    left: -200%;
  }
  /* line 66, ../sass/mobile.scss */
  #primary_wrap.columns-3 #block-region-side-pre,
  #primary_wrap.columns-3 #region-main,
  #primary_wrap.columns-3 #block-region-side-post {
    width: 33.333334333333%;
  }

  /* line 71, ../sass/mobile.scss */
  .visible-mobile {
    display: block;
  }

  /* line 75, ../sass/mobile.scss */
  div {
    max-width: none !important;
  }

  /* line 79, ../sass/mobile.scss */
  #logo_wrap {
    width: 50%;
    margin: auto;
    display: none;
  }

  /* line 84, ../sass/mobile.scss */
  #logo_wrap img {
    max-width: 100%;
  }
}
/* line 88, ../sass/mobile.scss */
#mobile_header {
  width: 100%;
  background: #F4F4F4;
  height: 50px;
}
/* line 93, ../sass/mobile.scss */
#mobile_header > div {
  width: 33.33333433333%;
  float: left;
  padding: 10px;
}

/* @end */
