/* @group PreImport */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
/* line 3, ../sass/typography.scss */
body {
  font-family: 'Droid Serif', Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 10pt;
  line-height: 1.5;
}

/* line 11, ../sass/typography.scss */
li {
  margin-bottom: 1.5em;
}

/* line 14, ../sass/typography.scss */
.block .header .title h2, .block h3, h1, h2, h3, h4, h5, h6 {
  color: #2b2b2b;
  font-size: 1.5em;
  margin-top: 20px;
}

/* @end */
/* @group Resets */
/* line 8, ../sass/ace.scss */
body {
  padding: 0;
}

/* line 11, ../sass/ace.scss */
.block {
  padding: 0;
  background-color: initial;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

/* line 18, ../sass/ace.scss */
table {
  border-top: 1px solid #ccc;
}

/* line 21, ../sass/ace.scss */
table.flexible th, .generaltable th, table.flexible td, .generaltable td, th, td {
  border: 1px solid #ccc;
}

/* @end */
/* @group Generic */
/* line 27, ../sass/ace.scss */
input[type='submit'] {
  border: 0;
  background: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
  display: block;
  color: #0293D2;
}

/* line 37, ../sass/ace.scss */
input[type='submit']:hover {
  background: none;
  color: #0293D2;
  text-decoration: underline;
}

/* line 42, ../sass/ace.scss */
* {
  box-sizing: border-box;
}

/* line 46, ../sass/ace.scss */
input[type='submit']:focus, input[type='submit']:active, button:focus, button:active {
  outline: 0 !important;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  color: #0293D2 !important;
  text-shadow: none !important;
}

/* @end */
/* @group Layout */
/* line 58, ../sass/ace.scss */
#page {
  margin: auto;
  padding: 0;
  margin-top: 20px;
}
/* line 63, ../sass/ace.scss */
#page #page_wrapper {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: table;
}
/* line 68, ../sass/ace.scss */
#page #page_wrapper > * {
  padding: 0 15px;
  display: table-cell;
}
/* line 73, ../sass/ace.scss */
#page #page_wrapper #region-main {
  padding: 15px 30px;
}
/* line 78, ../sass/ace.scss */
#page #page_wrapper #block-region-side-pre,
#page #page_wrapper #block-region-side-post {
  background: #FAF9F9;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
/* line 86, ../sass/ace.scss */
#page.columns-3 #block-region-side-pre, #page.columns-3 #block-region-side-post {
  width: 20%;
}
/* line 89, ../sass/ace.scss */
#page.columns-3 #region-main {
  width: 60%;
}
/* line 94, ../sass/ace.scss */
#page.columns-2 #block-region-side-pre {
  width: 20%;
}
/* line 97, ../sass/ace.scss */
#page.columns-2 #region-main {
  width: 80%;
  border-right: 1px solid #ccc;
}

/* line 103, ../sass/ace.scss */
#page-footer {
  border: 0;
}

/* line 106, ../sass/ace.scss */
div.buttons {
  margin-top: 20px;
}

/* @end */
/* Course */
/* line 112, ../sass/ace.scss */
.courses .coursebox:hover, .course_category_tree .courses > .paging.paging-morelink:hover {
  background: #FAF9F9;
}

/* line 115, ../sass/ace.scss */
.coursebox > .info > .coursename a {
  background-image: none;
  padding-left: 0;
}

/* line 119, ../sass/ace.scss */
.coursebox .content .summary, .coursebox .content .coursecat {
  float: none;
  width: auto;
}

/* line 123, ../sass/ace.scss */
.coursebox {
  background: #FAF9F9;
  margin: auto;
}

/* @end */
/* @group PostImport */
@media (max-width: 1680px) {
  /* line 4, ../sass/hardmedia.scss */
  #page #page_wrapper #block-region-side-pre {
    border-left: 0;
  }
  /* line 7, ../sass/hardmedia.scss */
  #page #page_wrapper #block-region-side-post {
    border-right: 0;
  }
  /* line 10, ../sass/hardmedia.scss */
  #page #page_wrapper #region-main {
    border: 0;
  }
}
/* @end */
