/* line 1, ../sass/mobile.scss */
.visible-mobile {
  display: none;
}

@media (max-width: 767px) {
  /* line 8, ../sass/mobile.scss */
  #main_header {
    padding: 0;
    margin: 0;
  }

  /* line 12, ../sass/mobile.scss */
  #page {
    margin: 0;
  }
  /* line 16, ../sass/mobile.scss */
  #page #page_wrapper #region-main {
    padding: 0 20px;
  }

  /* line 21, ../sass/mobile.scss */
  #primary_wrap {
    width: 100%;
    overflow-x: hidden;
  }
  /* line 25, ../sass/mobile.scss */
  #primary_wrap #secondary_wrap {
    width: 300%;
    position: relative;
    overflow-x: hidden;
    margin: 0;
    transition: all 0.5s;
    left: -100%;
  }
  /* line 35, ../sass/mobile.scss */
  #primary_wrap.pan-left #secondary_wrap {
    left: 0;
  }
  /* line 40, ../sass/mobile.scss */
  #primary_wrap.pan-right #secondary_wrap {
    left: -200%;
  }
  /* line 48, ../sass/mobile.scss */
  #primary_wrap.columns-3 #block-region-side-pre,
  #primary_wrap.columns-3 #region-main,
  #primary_wrap.columns-3 #block-region-side-post {
    width: 33.333334333333%;
  }

  /* line 53, ../sass/mobile.scss */
  .visible-mobile {
    display: block;
  }

  /* line 56, ../sass/mobile.scss */
  .hidden-mobile {
    display: none;
  }

  /* line 60, ../sass/mobile.scss */
  div {
    max-width: none !important;
  }

  /* line 64, ../sass/mobile.scss */
  #logo_wrap {
    width: 50%;
    margin: auto;
    display: none;
  }

  /* line 70, ../sass/mobile.scss */
  body.pagelayout-frontpage #logo_wrap {
    display: block;
  }

  /* line 74, ../sass/mobile.scss */
  #logo_wrap img {
    max-width: 100%;
  }
}
/* line 78, ../sass/mobile.scss */
#mobile_header {
  width: 100%;
  background: #F4F4F4;
  height: 50px;
  color: #69BFF1;
}
/* line 84, ../sass/mobile.scss */
#mobile_header > div {
  width: 33.33333433333%;
  float: left;
  padding: 10px;
  padding-bottom: 0;
}
/* line 91, ../sass/mobile.scss */
#mobile_header span {
  padding-top: 4px;
  font-size: 18px;
}
/* line 96, ../sass/mobile.scss */
#mobile_header button {
  margin: 0;
  border: 0;
  background: transparent;
  color: #6DC0F1;
  font-size: 14pt;
  padding: 5px 10px;
  box-shadow: none;
  text-shadow: none;
}

/* line 108, ../sass/mobile.scss */
#mobile_middle_title {
  width: 61%;
  text-align: center;
  display: inline-block;
  margin-left: 8.5%;
}
