.visible-mobile {
  display: none !important; }

#mobile_header {
  width: 100%;
  background: #F4F4F4;
  height: 50px;
  color: #69BFF1; }
  #mobile_header > div {
    width: 33.33333333333%;
    float: left;
    padding: 10px;
    padding-bottom: 0; }
  #mobile_header span {
    padding-top: 4px;
    font-size: 18px; }
  #mobile_header button {
    margin: 0;
    border: 0;
    background: transparent;
    color: #6DC0F1;
    font-size: 14pt;
    padding: 5px 10px;
    box-shadow: none;
    text-shadow: none; }

@media (max-width: 767px) {
  #main_header {
    padding: 0;
    margin: 0; }

  #page {
    margin: 0; }
    #page #page_wrapper #region-main {
      padding: 0 20px; }

  #primary_wrap {
    width: 100%;
    overflow-x: hidden; }
    #primary_wrap #secondary_wrap {
      width: 300%;
      position: relative;
      overflow-x: hidden;
      margin: 0;
      transition: all 0.5s;
      left: -100%; }
    #primary_wrap.pan-left #secondary_wrap {
      left: 0; }
    #primary_wrap.pan-right #secondary_wrap {
      left: -200%; }
    #primary_wrap.columns-3 #block-region-side-pre,
    #primary_wrap.columns-3 #region-main,
    #primary_wrap.columns-3 #block-region-side-post {
      width: 33.33333333333%; }
    #primary_wrap.columns-3 #mobile_header_left, #primary_wrap.columns-3 #mobile_header_middle, #primary_wrap.columns-3 #mobile_header_right {
      width: 33.33333333333%; }
    #primary_wrap.columns-2 #block-region-side-pre,
    #primary_wrap.columns-2 #region-main,
    #primary_wrap.columns-2 #block-region-side-post {
      width: 50%; }
    #primary_wrap.columns-2 #secondary_wrap {
      width: 200%; }
    #primary_wrap.columns-2 #page-footer {
      width: 50%;
      margin-left: 50%; }
    #primary_wrap.columns-1 #block-region-side-pre,
    #primary_wrap.columns-1 #region-main,
    #primary_wrap.columns-1 #block-region-side-post {
      width: 100%; }
    #primary_wrap.columns-1 #secondary_wrap {
      width: 100%;
      left: 0; }
    #primary_wrap.columns-1 #mobile_middle_title,
    #primary_wrap.columns-1 #mobile_header_middle {
      margin: 0;
      width: 100%; }
    #primary_wrap.columns-1 #region-main #logo_wrap {
      margin-top: 20px; }
    #primary_wrap.columns-1 .loginbox {
      margin-top: 0; }
    #primary_wrap.columns-1 .loginpanel h2 {
      margin-top: 10px;
      padding-top: 0; }
    #primary_wrap .boxwidthnormal {
      width: auto; }
    #primary_wrap form legend {
      padding-top: 20px; }

  .visible-mobile {
    display: block !important; }

  .hidden-mobile {
    display: none !important; }

  div {
    max-width: none !important; }

  #logo_wrap {
    width: 50%;
    margin: auto;
    display: none; }

  body.pagelayout-frontpage #logo_wrap,
  body.pagelayout-login #logo_wrap {
    display: block; }

  #logo_wrap img {
    max-width: 100%; }

  #mobile_header > div {
    width: 50%; } }
#mobile_middle_title {
  width: 61%;
  text-align: center;
  display: inline-block;
  margin-left: 8.5%; }
