/* line 1, ../sass/mobile.scss */
.visible-mobile {
  display: none !important;
}

/* line 5, ../sass/mobile.scss */
#mobile_header {
  width: 100%;
  background: #F4F4F4;
  height: 50px;
  color: #69BFF1;
}
/* line 11, ../sass/mobile.scss */
#mobile_header > div {
  width: 33.33333433333%;
  float: left;
  padding: 10px;
  padding-bottom: 0;
}
/* line 18, ../sass/mobile.scss */
#mobile_header span {
  padding-top: 4px;
  font-size: 18px;
}
/* line 23, ../sass/mobile.scss */
#mobile_header button {
  margin: 0;
  border: 0;
  background: transparent;
  color: #6DC0F1;
  font-size: 14pt;
  padding: 5px 10px;
  box-shadow: none;
  text-shadow: none;
}

@media (max-width: 767px) {
  /* line 38, ../sass/mobile.scss */
  #main_header {
    padding: 0;
    margin: 0;
  }

  /* line 42, ../sass/mobile.scss */
  #page {
    margin: 0;
  }
  /* line 46, ../sass/mobile.scss */
  #page #page_wrapper #region-main {
    padding: 0 20px;
  }

  /* line 51, ../sass/mobile.scss */
  #primary_wrap {
    width: 100%;
    overflow-x: hidden;
  }
  /* line 55, ../sass/mobile.scss */
  #primary_wrap #secondary_wrap {
    width: 300%;
    position: relative;
    overflow-x: hidden;
    margin: 0;
    transition: all 0.5s;
    left: -100%;
  }
  /* line 65, ../sass/mobile.scss */
  #primary_wrap.pan-left #secondary_wrap {
    left: 0;
  }
  /* line 70, ../sass/mobile.scss */
  #primary_wrap.pan-right #secondary_wrap {
    left: -200%;
  }
  /* line 78, ../sass/mobile.scss */
  #primary_wrap.columns-3 #block-region-side-pre,
  #primary_wrap.columns-3 #region-main,
  #primary_wrap.columns-3 #block-region-side-post {
    width: 33.333334333333%;
  }
  /* line 86, ../sass/mobile.scss */
  #primary_wrap.columns-2 #block-region-side-pre,
  #primary_wrap.columns-2 #region-main,
  #primary_wrap.columns-2 #block-region-side-post {
    width: 50%;
  }
  /* line 90, ../sass/mobile.scss */
  #primary_wrap.columns-2 #secondary_wrap {
    width: 200%;
  }

  /* line 95, ../sass/mobile.scss */
  .visible-mobile {
    display: block !important;
  }

  /* line 98, ../sass/mobile.scss */
  .hidden-mobile {
    display: none !important;
  }

  /* line 102, ../sass/mobile.scss */
  div {
    max-width: none !important;
  }

  /* line 106, ../sass/mobile.scss */
  #logo_wrap {
    width: 50%;
    margin: auto;
    display: none;
  }

  /* line 113, ../sass/mobile.scss */
  body.pagelayout-frontpage #logo_wrap,
  body.pagelayout-login #logo_wrap {
    display: block;
  }

  /* line 117, ../sass/mobile.scss */
  #logo_wrap img {
    max-width: 100%;
  }

  /* line 122, ../sass/mobile.scss */
  #mobile_header > div {
    width: 50%;
  }
}
/* line 128, ../sass/mobile.scss */
#mobile_middle_title {
  width: 61%;
  text-align: center;
  display: inline-block;
  margin-left: 8.5%;
}
