body {
  color: #CCC;
}
body {
  background-color: #333333;
  font-family: Lato;
}
h2 {
  font-size: 250%;
  color: #666666;
  font-family: Lustria;
}
label {
  font-weight: bold;
  color: #999999;
}
